.Table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
}

.Table th {
    background-color: #d9d9d9;
    color: #333;
    text-align: left;
    padding: 10px;
}

.Table td {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.Table tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons_block {
    display: flex;
    gap: 2rem;
}
